# Temporary and backup files:
\#*#
.*~
*~
.#*
*.bak
# Vim/Gvim temporary files:
.*.swp
.swp
.swo
# Mac OS X invisible directory created by Finder:
.DS_Store
# Windows thumbnail cache:
Thumbs.db

# Python byte-compiled files:
*.pyc
*.pyo
